.products-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 60%;
  background-color: #caf4fd0d;
}

.product-card img {
  max-width: 200px;
  height: auto;
  margin-bottom: 10px;
}

.product-card button {
  background-color: #4299E1;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
}

.product-card button:hover {
  background-color: #134b86;
}
